@font-face {
  font-family: 'CircularXX';
  src: url('../fonts/CircularXX-Medium.woff2') format('woff2'),
  url('../fonts/CircularXX-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../fonts/CircularXX-Black.woff2') format('woff2'),
  url('../fonts/CircularXX-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../fonts/CircularXX-Bold.woff2') format('woff2'),
  url('../fonts/CircularXX-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../fonts/CircularXX-Regular.woff2') format('woff2'),
  url('../fonts/CircularXX-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
